{% extends 'admin/base.html' %}
{% block maincontent %}
<div class="cont-title">
    <h4 class="center-align" style="margin: 0;">Repartidores&nbsp;&nbsp;<i class="fas fa-shipping-fast"></i></h4>
</div>
<div class="container">
    <a href="{% url 'admin:pAdmin' %}"><i class="fas fa-arrow-left fa-2x"></i></a>
    <h6 class="center-align">Registro de un repartidor</h6>
    <div class="divider"></div>
    <a href="#register" class="dropdown"><i class="fas fa-angle-down fa-2x right"></i></a>
    <div class="container hide" style="width: 90%;" id="register">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="input-field">
                {{frepartidor.nombre}}
                {{frepartidor.nombre.label_tag}}
            </div>
            <div class="input-field">
                {{frepartidor.telefono}}
                {{frepartidor.telefono.label_tag}}
                <span class="helper-text">opcional</span>
            </div>
            <div class="input-field">
                {{frepartidor.app_url}}
                {{frepartidor.app_url.label_tag}}
                <span class="helper-text">opcional</span>
            </div>
            <div class="file-field input-field">
                <div class="btn btn-vino">
                    <span>{{frepartidor.logo.label}}</span>
                    {{frepartidor.logo}}
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
            <div class="row center-align">
                <button type="submit" style="width: 50%;" class="btn btn-vino">Guardar</button>
            </div>
        </form>
    </div>
    <br><br>
    <h6 class="center-align">Repatidores registrados <b>({{repartidores|length}})</b></h6>
    <div class="divider"></div>
    <br>
    {% for repartidor in repartidores %}
    <div class="card-panel" style="box-shadow: none; cursor: unset;">
        <div class="row right">
            <a href="{% url 'admin:elRepartidores' repartidor.id %}"><i class="fas fa-trash-alt fa-2x"></i></a>
            <a href="{% url 'admin:eRepartidores' repartidor.id %}" style="margin-left: 10px;"><i
                    class="fas fa-edit fa-2x"></i></a>
        </div>
        <div class="row card-row">
            <div class="col l4 m12 s12 center-align">
                <img src="{{repartidor.logo.url}}" alt="" class="responsive-img">
            </div>
            <div class="col l4 m12 s12 center-align">
                <h5><b>{{repartidor.nombre}}</b></h5>
            </div>
            <div class="col l4 m12 s12">
                <p style="word-wrap: break-word;">
                    <b>Link a la app: </b>{{repartidor.app_url}}
                </p>
                <p>
                    <b>Teléfono: </b>{% if repartidor.telefono %}{{repartidor.telefono}}{% else %}No
                    especificado{% endif %}
                </p>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    {% endfor %}
</div>
{% endblock %}